rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /issues/{document=**} {
      allow list: if request.auth != null && query.limit <= 100;
      allow get: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null;
      allow delete: if request.auth != null && (request.auth.token.email == "civicreporterapp@gmail.com" || resource.data.userId == request.auth.uid);
    }
  }
}
